<main id="main-content" class="admin-main container">
    <hr class="divider">

    <!-- UPDATE HERO SECTION -->
    <section class="update-hero-section">
        <h2>Update Hero Section</h2>

       <form class="hero-update-form" id="heroForm" method="POST" enctype="multipart/form-data">


           <input type="text" id="heroTitle" name="heroTitle" placeholder="Enter new hero title">

<input type="text" id="btn1Label" name="btn1Label" placeholder="Ex: Register">

<input type="text" id="btn1Link" name="btn1Link" placeholder="Enter URL for Button 1">

<input type="text" id="btn2Label" name="btn2Label" placeholder="Ex: View Schedule">

<input type="text" id="btn2Link" name="btn2Link" placeholder="Enter URL for Button 2">

<input type="text" id="scheduleLink" name="scheduleLink" placeholder="Enter schedule page link">

<input type="file" id="heroBanner" name="heroBanner" accept="image/*">


            <button type="submit" class="submit-btn">Update Hero Section</button>
        </form>
    </section>

</main>
